html,
body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	color: $default;
	overflow-x: hidden;
	min-width: 300px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;//footer прижат к низу страницы
}
.footer {
	flex: 0 0 auto;//footer прижат к низу страницы
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
	max-width: 1920px;//100%;
	margin: 0 auto;
	padding: 0 10px;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	li {
		margin: 0 15px;
	}
	button {
		background-color: $title;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}
	li.slick-active {
		button {
			background-color: #FFEF35;
			outline: none;
		}
	}
}

.info-email {
    font-weight: 600;
    font-size: 14px;
    color: $title;
    margin-bottom: 22px; //не работает-ссылка строчный елемент делаем инлайн блок
    display: inline-block;
    padding-left: 30px;
    position: relative; //вставляем иконку
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/footer_icons/envelope.svg);
      left: 0;
      top: 5px;
      width: 20px; //размеры обязательны
      height: 20px;
    }
  }





